<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Marianna Janczak", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li><a href="/#about">About</a></li>
                <li><a href="/#edu">Education</a></li>
                <li><a href="/#exp">Experience</a></li>
                <li>@Html.ActionLink("Courses", "ShowCertificates", "Certificates")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Admin Panel", "Admin", "Admin")</li>
            </ul>
            @Html.Partial("_LoginPartial")
            
        </div>
    </div>
</nav>

