@model HallOfFame.Models.Positions
@{
    ViewBag.Title = "AddPosition";
}

<h2>Add Position</h2>

@using (Html.BeginForm("Create", "Positions"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.PositionName)
        @Html.TextBoxFor(m => m.PositionName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PositionName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Company)
        @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Company)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Years)
        @Html.TextBoxFor(m => m.Years, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Years)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Duties)
        @Html.TextBoxFor(m => m.Duties, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Duties)
    </div>
    <button type="submit" class="btn btn-primary">Add position</button>
}